<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953725911657-63jfa4c87ae6i014hvvbagee6ndql9c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953725911657-63jfa4c87ae6i014hvvbagee6ndql9c6</string>
	<key>API_KEY</key>
	<string>AIzaSyAdLUmBCYBLjczBL8OKdp7mAt5kg5Y5AxY</string>
	<key>GCM_SENDER_ID</key>
	<string>953725911657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.clothingstore</string>
	<key>PROJECT_ID</key>
	<string>clothingstore-6b82b</string>
	<key>STORAGE_BUCKET</key>
	<string>clothingstore-6b82b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953725911657:ios:8a12623b13d40de2c998f8</string>
</dict>
</plist>